<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_SECRET</key>
	<string>0ed14d6f-c925-4d06-9108-91d13cc45c54</string>
	<key>API_KEY</key>
	<string>b25e1b15a5f04240af52db264c29bfa5</string>
</dict>
</plist>
